.main-one {
    height: 500px;
    margin: 100px 0px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-logo {
    max-width: 100%;
    max-height: 320px;
    width: auto;
    height: auto;
    align-items: center;
    margin-bottom: 10px;
}

.main-one h1 {
    font-family: 'Jua', sans-serif; 
    font-size: 50px ;
    margin-bottom: 0;
    color: #294553;
}

.main-one p {
    max-width: 1000px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    margin: 5px 100px;
    color: #294553;
}

.arrow-button {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #FED966;
    background-color: transparent;
    border: 1px solid #FED966;
    border-radius: 10px;
    padding: 12px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
  }

  .arrow-button:hover {
    background-color: #BF9100;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(128, 110, 219, 0.3);
  }

  /*for tablet & laptop??? screens*/
  @media screen and (min-width:500px){
    .wrapper-grid{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        display: flex;
        flex-direction: row;
        padding: 0rem 5rem;
        height: 30rem;
    }
  }